<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codingblocks.cbonlineapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".CBOnlineApp"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.ThrowableActivity"
            android:theme="@style/Theme.CB.Throwable" />
        <activity
            android:name=".URLRouterActivity"
            android:theme="@style/SplashTheme">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="online.codingblocks.com" />
                <data android:pathPrefix="/classroom" />
                <data android:pathPrefix="/courses" />
                <data android:pathPrefix="/player" />
                <data android:pathPrefix="/cricket_cup" />

            </intent-filter>
        </activity> <!-- <meta-data android:name="android.max_aspect" android:value="2.1" /> -->
        <activity
            android:name=".activities.NotificationsActivity"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/myTheme" />
        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="app.codingblocks.com"
                    android:scheme="https" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcut" />
        </activity>

        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />
        <meta-data
            android:name="com.onesignal.NotificationAccentColor.DEFAULT"
            android:value="FF6666" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/cblogo" />

        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/myTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="online.codingblocks.com"
                    android:scheme="app" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".activities.CourseActivity"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/Theme.CB.Course" />
        <activity
            android:name=".activities.MyCourseActivity"
            android:label="@string/title_activity_my_course"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/myTheme">
            <intent-filter>
                <action android:name="com.coddinblocks.appshortcuts.OPEN_DYNAMIC_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codingblocks.cbonlineapp.activities.HomeActivity" />
        </activity>
        <activity
            android:name=".activities.VideoPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.PdfActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <receiver android:name=".util.DownloadBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.DownloadService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/myTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.codingblocks.cbonlineapp.activities.HomeActivity" />
        </activity>
        <activity
            android:name=".activities.AboutActivity"
            android:theme="@style/myTheme" />
        <activity
            android:name=".activities.QuizActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MyCourseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/myTheme" />
    </application>

</manifest>
